.signIn {
    gap: 2rem;
    justify-items: center;
    place-self: center;
}

.signIn > header {text-align: center}

.signIn > header > div {
    font-family: var(--fontFamilySpecial);
    font-size: 4rem;
    line-height: 4rem;
}