.dashboard {grid-template-rows: max-content auto}

.dashboard > header {
    background-image: var(--backgroundImage);
    border-bottom: var(--border);
    border-bottom-color: var(--colorPrimary1);
    border-top: var(--border);
    border-top-color: var(--colorPrimary3);
    gap: 1rem;
    grid-template-columns: max-content auto;
    padding: 0.5rem;
}

.dashboard > header > div {
    color: var(--colorPrimary3);
    line-height: 1.5rem;
}

.dashboard > header > div,
.dashboard > header > div > span {
    font-family: var(--fontFamilySpecial);
    font-size: 1.5rem;
}

.dashboard > header > div > span {color: var(--colorPrimary1)}

.dashboard > header > nav {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-items: center;
}

.dashboard > header > nav > button.active {color: var(--colorBlack)}