.dashboard {grid-template-rows: max-content auto}

.dashboard > nav {
    border-bottom: var(--border);
    gap: 0.5rem;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.dashboard > nav > button {
    border-bottom: none;
    opacity: 0.5;
}

.dashboard > nav > button.active, .dashboard > nav > button:active {opacity: 1}

.dashboard > nav > button:active {
    background-color: var(--colorLow);
    color: var(--colorHigh);
}

.dashboard > section {
    gap: 1rem;
    grid-auto-rows: max-content;
    padding: 1rem;
}

.dashboard > section.hidden {display: none !important}