/* .dashboard */
    .dashboard {
        grid-template-rows: max-content auto;
    }

    .dashboard > nav {
        border-bottom: var(--borderThick);
        gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .dashboard > nav > button {
        border-bottom: none;
        opacity: 0.5;
    }

    .dashboard > nav > button.active, .dashboard > nav > button:active {opacity: 1}

    .dashboard > nav > button:active {
        background-color: var(--colorLow);
        color: var(--colorHigh);
    }
/* .news */
    .dashboard > main > .news {
        border: var(--borderThin);
        gap: 0.5rem;
        grid-template-columns: auto min-content;
        padding: 1rem;
    }

    .dashboard > main > .news > header {
        font-family: var(--fontFamilySpecial);
        font-size: 1.5rem;
    }

    .dashboard > main > .news > button {
        border: var(--borderThin);
        font-family: var(--fontFamilyText);
        height: 1.75rem;
        line-height: 1.19rem;
        padding: 0 0.5rem;
    }

    .dashboard > main > .news > main {grid-column: 1/3}