.thumbnail {
    border: none;
    padding: 0;
    position: relative;
    transition: var(--transition) filter, var(--transition) box-shadow;
}

.thumbnail::after {
    content: '';
    height: 100%;
    position: absolute;
    transition: var(--transition) box-shadow;
    width: 100%;
}

.thumbnail > img {
    object-fit: cover;
    pointer-events: none;
    width: 100%;
}

.thumbnail:focus {box-shadow: none}

.thumbnail:focus::after {box-shadow: inset 0 0 0 2px var(--colorLow), inset 0 0 0 6px var(--colorHigh)}

.thumbnail:active {
    box-shadow: none;
    filter: grayscale(0.75);
}

.thumbnail:active::after {box-shadow: none}