@keyframes spinningLoader1 {to {transform: rotate(360deg)}}
@keyframes spinningLoader2 {to {transform: rotate(405deg)}}

.loadingScreen, .loadingScreen::after {
    background-color: var(--colorLow);
    place-self: center;
}

.loadingScreen {
    animation: spinningLoader1 6s linear infinite !important;
    height: 3rem;
    width: 3rem;
}

.loadingScreen::after {
    animation: spinningLoader2 1.5s linear infinite reverse;
    content: '';
    height: 6rem;
    opacity: 0.5;
    transform: rotate(45deg);
    width: 6rem;
}