.collapsible.collapsed > header {opacity: 0.5}
.collapsible.collapsed > header > span {transform: rotateZ(90deg)}
.collapsible.collapsed > main {display: none !important}

.collapsible > header {
    background-color: var(--colorLow);
    cursor: var(--cursorPointer);
    font-family: var(--fontFamilyTitle);
    gap: 0.5rem;
    grid-template-columns: auto max-content;
    padding: 0.25rem 0.5rem;
}

.collapsible > header, .collapsible > header > span {color: var(--colorHigh)}

.collapsible > header > span {
    transition: var(--transition) transform;
    align-self: center;
    font-size: 0.9rem;
    pointer-events: none;
}

.collapsible > main {
    border: var(--border);
    border-top: none;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
}

.collapsible > main > .cols2 {
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.collapsible > main.cards {grid-template-columns: repeat(auto-fit, minmax(100px, 200px))}